<table
  x-data="table"
  :data-definition="$store.table.definition"
  class="w-full table-auto border-collapse text-left text-[0.85rem]"
  class-loading="opacity-50 pointer-events-none"
>
  <thead>
    <tr>
      <template x-for="col in _definition">
        <td
          x-bind="header"
          class="border-b border-gray-300 px-2 py-2 font-semibold text-text-800 dark:border-dark-600 dark:text-text-300"
        >
          <div class="flex items-center">
            <span x-text="col.label"></span>
            <template x-if="isSortable() && !isSorted()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
                fill="currentColor"
                class="ml-3 h-4 w-4 opacity-30"
              >
                <path
                  d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8L32 224c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8l256 0c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"
                />
              </svg>
            </template>
            <template x-if="isSortedAsc()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
                fill="currentColor"
                class="ml-3 h-4 w-4 opacity-70"
              >
                <path
                  d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8l256 0c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"
                />
              </svg>
            </template>
            <template x-if="isSortedDesc()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
                fill="currentColor"
                class="ml-3 h-4 w-4 opacity-70"
              >
                <path
                  d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
                />
              </svg>
            </template>
          </div>
        </td>
      </template>
    </tr>
  </thead>
  <tbody>
    <template x-for="row in getDataPaginated" :key="row[_primaryKey]">
      <tr>
        <template x-for="col in _definition">
          <td
            x-text="getCellContent"
            class="border-t border-gray-300 px-2 py-2 text-text-800 transition-colors duration-200 dark:border-dark-600 dark:text-text-300"
          ></td>
        </template>
      </tr>
    </template>
  </tbody>
</table>
